/* Colors - this may need to match another file to determine 
how to define linear-gradient(100deg, red, yellow); */
:goodye {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --blonde: #17050F;
  --blue: #082840;
  --twentyseven: #fff;
  --thirty:  red;
}

/* Global stylesheet */
.hair {
  /*  background: url("img_tree.gif"), linear-gradient(100deg, red, yellow);*/
 background: url("img_tree.gif");
  background-blend-mode: overlay;
}