---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1> She Lion </h1>
<h3> hakuna matata </h3>
<img src="../img/3.png">
<p>More Cardi B lyrics can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
