---
pagination:
    data: swatches
    size: 1
    alias: swatch
permalink: "color/{{ swatch.name | slug }}/"
tags: "{{ swatch.tags }}"
layout: layouts/base.njk
---

<h1>{{ swatch.name }}</h1>

<div class="hair" style="{{ swatch.dye }}"></div>

<h3>{{ swatch.name }} can be described as a {{ swatch.desc }}  color.</h3>


<h2> Other Swatches </h2>

<ul>
{%- for swatch in collections.swatches | reverse -%}
  <li><a href ="{{ page.data.permalink }" alt="Swatch page for the color {{ page.data.name } ">{{ page.data.name }}</a></li>
{%- endfor -%}
</ul>


